<ng-include src="'templates/header.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col-md-8 nopadding">
            <div class="wa-section" id="section-1">
                <h1>
                    Инструменты
                </h1>

                <p>
                В это проекте я использовал:
                <li>
                    <a href="https://www.docker.com/">Docker</a> &ndash; как систему для развертывания девелоперской среды
                    на локальной машине. И при переносе на рабочий сервер у меня получилась асболютно такая же среда там.
                </li>
                <li>
                    <a href="https://angularjs.org/">Angularjs</a> &ndash; как фронтенд. В основном для использования возможностей
                    шаблонизатора
                </li>
                <li>
                    PHP, Nginx, MySQL &ndash; по заданию
                </li>
                </p>
            </div>
            <div class="wa-section" id="section-2">

                <h1>
                    Proof of concept
                </h1>

                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
            <div class="wa-section" id="section-3">
                <h1>
                    Architecture of site
                </h1>

                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
    </div>
</div>